@import "../variables.scss";

#menu {
  display: none;
}
.header {
  position: fixed;
	display: block;
	width: 100%;
	z-index: 1000;
	text-align: center;
	color: #f2f2f2;
  transition:all 0.5s;
  .logo {
    top: 1rem;
    left: 2rem;
    position: relative;
    max-width: 8rem;
    transition:all 0.5s;
  }
  .menu-container {
    position: absolute;
    margin-top: 2.3rem;
    top: 2rem;
    right: 3rem;
    z-index: 10000;
    transition:all 0.5s;
    background: rgba(255,255,255,0.8);
    border-radius: 1rem;
  }
  .navbar {
    background: $primary-color;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    padding: 0.4rem;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    position: absolute;
    right: 3rem;
    top: 2rem;
    z-index: 10000;
    transition:all 0.5s;
    i {
      font-size: 28px;
      padding-top: 1px;
    }
    &:hover, &.opened {
      color: $primary-color;
      background: white;
      cursor: pointer;
    }
  }
  .menu {
    text-align: right;
    display: block;
    margin-right: -1rem;
    ul {
      margin: 0 auto;
      padding: 0;
    }
    li {
      list-style: none;
      position: relative;
      padding: 0.8rem;
      a {
        white-space: nowrap;
      }
      &:first-child {
        &:hover {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }
      &:last-child {
        &:hover {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
      &:hover {
        background: white;
        color: $primary-color;
        a {
          color: $primary-color;
          text-decoration: none;
        }
      }
      &:last-child {
        &:after {
          height: 0;
        }
      }
      &:after {
        content: '';
        height: 1px;
        background: black;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      a {
        color: black;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
      }
    }
  }
  .search-container {
    z-index: 100;
    position: absolute;
    top: 2rem;
    width: 36rem;
    transform: translateX(-50%);
  	left: 50%;
    transition:all 0.5s;
    .search {
      background: rgba(255,255,255,0.5);
      border-radius: 10px;
      color: black;
      border: 0;
      padding: 0.5rem;
      width: 100%;
      box-shadow: $box-shadow;
      transition:all 0.5s;
      border: 2px solid transparent;
      &:focus {
        outline: none;
      }
    }
    .fa-search {
      position: absolute;
      right: 0rem;
      top: 0rem;
      color: black;
      background-color: white;
      padding: 0.75rem 0.9rem;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border: 2px solid transparent;
    }
  }
  &.shrink {
  background-color: white;
  padding: 0;
  height: 5rem;
  box-shadow: $box-shadow;
  .navbar {
    top: 1.1rem;
    right: 5%;
  }
    .logo {
      top: 0.75rem;
      left: 5%;
      max-width: 4rem;
    }
    .search-container {
      top: 1.2rem;
      .search {
        box-shadow: none;
        border: 1px solid $primary-color;
        &:focus {
          outline: none;
        }
      }
      .fa-search {
        border: 1px solid $primary-color;
        border-left: 0;
        padding: 0.75rem 0.9rem;
        background-color: $primary-color;
        color: white;
      }
    }
    .menu-container {
      right: 5%;
      top: 1.8rem;
    }
  }
}

::-webkit-input-placeholder {
    color:black;
}

::-moz-placeholder {
    color:black;
}

::-ms-placeholder {
    color:black;
}

::placeholder {
    color:black;
}

@media only screen and (max-width:768px) {
  .header {
    background-color: white;
    padding: 0;
    height: 5rem;
    box-shadow: $box-shadow;
    .logo {
      left: 5%;
      max-width: 4rem;
      top: 0.75rem;
    }
    .search-container {
      transform: translateX(-50%);
      left: 50%;
      max-width: 10rem;
      top: 1.2rem;
      .search {
        box-shadow: none;
        text-align: center;
        border: 1px solid $primary-color;
        &:focus {
          border: 2px solid $secondary-color;
          outline: none;
        }
        &::placeholder {
          color: black !important;
        }
      }
    }
    .menu-container {
      right: 5%;
    }
    .navbar {
      top: 1.4rem;
      right: 5%;
    }
  }
}
