<header class="header" role="banner">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/img/logo.svg" alt="Logo">
    </a>
  </div>
  <div class="search-container">
    <input class="search" type="text" placeholder="Search Website">
      <i class="fa fa-search" (click)="goToSearch()"></i>
  </div>
  <div class="navbar" id="menu-toggle">
    <i class="fa fa-bars"></i>
  </div>
  <nav class="nav menu" id="menu" role="navigation">
  <div class="menu-container">
      <ul>
        <li><a routerLink="/case-studies">Case Studies</a></li>
        <li><a routerLink="/news-room">Newsroom</a></li>
        <li><a routerLink="/white-papers">White Papers</a></li>
      </ul>
    </div>
  </nav>
</header>
