@import "../variables.scss";

#disqus_thread {
  margin-top: 2rem;
}

.footer {
  background-color: $dark-blue;
  padding: 30px 0;
  position: relative;
  min-height: 350px;
  margin-top: -1rem;
  h6 {
  font-family: $font-roboto;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  }
  p {
    font-family: $font-roboto;
  	color: #fff;
  	font-size: 12px;
  }
  .footer-nav {
    padding-bottom: 20px;
    .menu {
      padding: 0;
    	list-style: none;
      li a {
        font-family: $font-roboto;
      	font-size: 12px;
      	color: #fff;
      	display: block;
      }
    }
  }
  .social {
    list-style: none;
  	padding: 0;
  	margin: 0;
  	text-align: right;
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.form-control {
  height: auto!important;
  background-color: transparent;
  padding: 3px 20px!important;
  border-color: white;
  color: white;
  width: 70%;
  float: left;
}

.input-group {
	position: relative;
	border-collapse: separate;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}

fieldset {
  width: 100%;
}

.input-group-addon {
  width: 30%;
  &:hover {
    cursor: pointer;
  }
}

.footer .form-control {
  height: auto!important;
  background-color: transparent;
  padding: 3px 20px!important;
  border-color: #fff;
  color: #fff;
  width: 70%;
}

.input-group-addon {
	padding: 8px 12px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
  border-bottom-left-radius: 0;
	border-top-left-radius: 0;
  float: left;
  height: 2rem;
}

.input-group .form-control:first-child, .input-group .ginput_container input:first-child, .input-group .ginput_container select:first-child, .input-group .ginput_container textarea:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group-addon:last-child {
	border-left: 0;
}

.footer .form-js-label {
	margin-top: 20px;
	margin-left: 0;
}

@media (min-width: 992px) {
.footer .form-js-label {
	margin-left: 25px;
}
.footer .subscribe-from h6 {
	text-align: right;
  }
  .footer .legal.compliance {
  	text-align: right;
  }
  .footer ul.social {
  	text-align: right;
  }
}

.footer .form-control, .footer .ginput_container input, .footer .ginput_container select, .footer .ginput_container textarea, .ginput_container .footer input, .ginput_container .footer select, .ginput_container .footer textarea {
	height: auto!important;
	background-color: transparent;
	padding: 3px 20px!important;
	border-color: #fff;
	color: #fff;
	width: 70%;
}

.footer .form-label fieldset {
	position: relative;
}

fieldset, legend {
	padding: 0;
	border: 0;
}
fieldset {
	margin: 0;
	min-width: 0;
}

.footer .legal p {
	margin: 7px 0;
	font-size: 11px;
}

::-webkit-input-placeholder {
  font-size: 12px;
  color: white;
}
