<footer class="footer" id="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 footer-contact">
          <h6>CONTACTS</h6>
          <p>Consumer Support: +27 (0) 87 805 0530
            <br>Business Support: +27 (0) 87 805 0500
            <br>Fax: +27 (0) 87 805 5500
            <br>Email:
            <a href="mailto:help@voxtelecom.co.za?Subject=help">help@voxtelecom.co.za</a>
            <br>
            <a href="/contact">Map and directions</a>
          </p>
        </div>
          <div class="footer-nav col-lg-2">
            <h6>Legal</h6>
            <ul id="menu-footer-navigation" class="menu">
              <li><a target="_blank" href="http://vox.co.za/terms-conditions/">Terms &#038; Conditions</a></li>
              <li><a target="_blank" href="http://vox.co.za/wp-content/uploads/2016/10/AcceptableUsePolicy.pdf">Acceptable Use Policy</a></li>
              <li><a target="_blank" href="http://vox.co.za/wp-content/uploads/2016/10/BEE-Certificate-Oct-2016.pdf">BEE Certificate</a></li>
              <li><a target="_blank" href="http://vox.co.za/wp-content/uploads/2016/11/rica.pdf">RICA</a></li>
              <li><a target="_blank" href="http://vox.co.za/wp-content/uploads/2016/11/PAIA.pdf">PAIA</a></li>
              <li><a target="_blank" href="http://vox.co.za/wp-content/uploads/2016/11/CodeOfConduct.pdf">Code Of Conduct</a></li>
              <li><a target="_blank" href="http://vox.co.za/wp-content/uploads/2016/11/TakeDownNotice.pdf">Take Down Notice</a></li>
              <li><a target="_blank" href="http://vox.co.za/wp-content/uploads/2016/11/PrivacyPolicy.pdf">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footer-nav col-lg-2">
            <h6>Content Hub</h6>
            <ul id="menu-footer-navigation" class="menu">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/case-studies">Case Studies</a></li>
              <li><a routerLink="/news-room">Newsroom</a></li>
              <li><a routerLink="/white-papers">White Papers</a></li>
            </ul>
          </div>
        <div class="col-lg-4">
          <ul class="social">
            <li>
              <a href="http://www.facebook.com/voxtelecomZA" target="_blank"><img src="http://vox.co.za/wp-content/themes/vox/images/icons/fb.png"></a>
            </li>
            <li>
              <a href="http://www.twitter.com/voxtelecom" target="_blank"><img src="http://vox.co.za/wp-content/themes/vox/images/icons/twitter.png"></a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/VoxTelecom/featured" target="_blank"><img src="http://vox.co.za/wp-content/themes/vox/images/icons/you.png"></a>
            </li>
            <li>
              <a href="http://www.linkedin.com/company/123978?trk=tyah&trkInfo=tarId%3A1399019760796%2Ctas%3Avox%20tele%2Cidx%3A3-1-5" target="_blank"><img src="http://vox.co.za/wp-content/themes/vox/images/icons/in.png">
                </a>
            </li>
          </ul>
          <form action="https://live2.everlytic.net/public/contacts/subscription" class="form-js-label form-label subscribe-from" id="item-form" method="post" name="item-form" onsubmit="return validateSform()" target="_blank">
              <h6>Vox Newsletter Subscription</h6>
              <input type="hidden" id="op" name="op" value="subscribe">
              <div class="input-group">
                <fieldset>
                    <input type="email" id="contact_email" name="contact_email" class="form-control form-control-success" autocomplete="off" required placeholder="Subscribe to our newsletter">
                    <input type="submit" value="submit" class="input-group-addon">
                </fieldset>
              </div>
              <input type="hidden" id="form_hash" name="form_hash" value="YuBmTLxix3GXlDwa">
              <input type="hidden" id="list_id[]" name="list_id[]" value="15974">
          </form>
          <div class="g-recaptcha" id="recaptcha" data-sitekey="6LeTuC8UAAAAAIZoXlkiY2dXTXoi8tDb-GQyuORs"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 legal">
          <p>&copy; Copyright 2018. Vox Telecom. All rights reserved.</p>
        </div>
        <div class="col-lg-6 legal compliance">
          <p>
              <a href="http://ispa.org.za/code-of-conduct/" target="_blank">
                  <img src="https://www.vox.co.za/wp-content/uploads/2018/11/ISPA_CoC_2017_-_500.png" style="max-width: 8rem;" alt="ISPA compliance">
              </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
