
<form (ngSubmit)="onSubmit(form)" #form="ngForm" class="download-form">
  <label for="name">Name</label>
  <!-- <input type="text" name="name" placeholder="Required*"> -->
  <input
    type="text"
    id="name"
    name="input_1"
    [ngModel]="defaultName"
    required
    placeholder="Required*"
    #nameCtrl="ngModel">
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name!</span>
  <label for="name">Email</label>

  <input
    type="text"
    id="email"
    name="input_2"
    [ngModel]="defaultName"
    required
    #nameCtrl="ngModel"
    placeholder="Required*">
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter an email!</span>
<!--   <input type="text" name="email" placeholder="Required*"> -->
  <label for="name">City</label>

  <input
    type="text"
    id="city"
    name="input_3"
    [ngModel]="defaultName"
    #nameCtrl="ngModel"
>

  <!-- <input type="text" name="city" placeholder=""> -->
  <label for="name">Phone</label>
  <input
    type="text"
    id="phone"
    name="input_4"
    [ngModel]="defaultName"
    required
    #nameCtrl="ngModel"
    placeholder="Required*">
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a phone number!</span>
  <!-- input type="text" name="phone" placeholder="Required*"> -->
  <input type="submit" value="Submit" [disabled]="form.invalid">
</form>

<!-- <form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Character Name</label>
    <input
    type="text"
    id="name"
    name="name"
    class="form-control"
    [ngModel]="defaultName"
    required
    #nameCtrl="ngModel">
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name!</span>
  </div>
  <div class="form-group">
    <label for="side">Choose Side</label>
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let option of availableSides" [value]="option.value">
        {{ option.display }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Add Character</button>
</form>
 -->

<a href="{{download_link}}" download id="download" ></a>
<p id="slug" style="display: none">{{slug}}</p>