.download-form {
  background-color: #ebebeb;
  border-radius: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  input {
    width: 100%;
    border-radius: 0.5rem !important;
    border: none;
    padding-left: 1rem;
  }
  ::-webkit-input-placeholder {
    text-align: right;
    padding-right: 1rem;
    color: #ff7800;
    opacity: 1;
    font-weight: 100;
    font-size: 14px;
  }
  input:-moz-placeholder {
    text-align: right;
    padding-right: 1rem;
    color: #ff7800;
    opacity: 1;
    font-weight: 100;
    font-size: 14px;
  }
  label {
    margin-left: 0.5rem;
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding-top: 0.5rem;
    margin-bottom: 0.2rem;
  }
  [type=submit] {
    display: block;
    background: #ff7800;
    color: white;
    margin-top: 2rem;
    position: relative;
    border: 1px solid #ff7800;
    border-radius: 1rem !important;
    padding: 2px 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-transform: uppercase;
    max-width: 10rem;
    &:hover {
      background: white;
      color: #ff7800;
      cursor: pointer;
    }
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

