.single-intro {
  padding-top: 10rem;
  padding-bottom: 4rem;
}

.article-content {
  .share-container {
    position: relative;
    width: 100%;
    .share {
      background-image: url('../../assets/img/share.png');
      background-size: contain;
      position: absolute;
      left: 0;
      height: 3rem;
      width: 3rem;
      bottom: auto;
      left: auto;
      &:hover {
        cursor: pointer;
        background-image: url('../../assets/img/share-hover.png');
      }
    }
    .share-strip {
      position: absolute;
      display: none;
      left: 4rem;
    }
    .sb-group {
      flex-wrap: nowrap !important;
    }
  }
}
