<app-preloader></app-preloader>
<main class="main" role="main">
  <section class="single-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="single-meta">
            <h1 [innerHTML]='posts.title.rendered'></h1>
            <div class="row">
              <div class="col-md-3">
                <div class="author">
                  <img class="image" src="{{posts._embedded['author'][0].acf.author_image}}" />
                </div>
              </div>
              <div class="col-md-9">
                <div class="date">
                  <p>By {{posts._embedded['author'][0].name}}, {{posts._embedded['author'][0].acf.author_job_title}}</p>
                  <p>{{posts.date | date: 'dd MMMM yyyy'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featured-image">
            <img class="img-fluid" src="{{posts._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container article-content">
    <div class="row">
      <div class="col-lg-8">
        <div class="share-container">
          <app-share [i]="0"></app-share>
        </div>
        <div class="content">
            <p [innerHTML]='posts.content.rendered'></p>
        </div>
          <h6>About Author:</h6>
          <div class="author-meta">
            <div class="avatar">
              <img src="{{posts._embedded['author'][0].acf.author_image}}" />
            </div>
            <div class="summary">
              <h6>{{posts._embedded['author'][0].name}}</h6>
              <p>
                {{posts._embedded['author'][0].description}}
              </p>
            </div>
          </div>
          <app-disqus></app-disqus>
      </div>
      <div class="col-lg-4">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</main>
