<div class="container">
  <div class="section-title">
    <h2>Newsroom</h2>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor='let post of posts; let i = index; let l = last;'>
      <div class="news-article">
        <div class="news-content">
        <h4 class="news-header" [innerHTML]='post.title.rendered | excerpt:80'></h4>
        <p class="news-description" [innerHTML]='post.excerpt.rendered | excerpt:100'></p>
        <a routerLink="/news-room/{{post.slug}}" [queryParams]="{ page: post.id}" class="news-permalink">Read More</a>
        </div>
        <div class="news-image-container">
        <img class="news-image img-fluid" src="{{post._embedded['wp:featuredmedia']['0'].source_url}}" />
        </div>
      </div>
      <span style="display:none;">{{ l === true ? setNewsArticleHeights() : null}}</span>
    </div>
  </div>
  <div class="col-md-12 text-center" style="padding: 3rem;">
    <div class="mx-auto">
      <a routerLink="/news-room" class="btn-orange">View All</a>
    </div>
  </div>
</div>
<a href="#papers" SimpleSmoothScroll [showHash]="false" [offset]="-80">
  <div class="next">
    <i class="fas fa-chevron-down"></i>
  </div>
</a>
