<div class="share" (click)="sharer(i)">
</div>
<div class="share-strip" [ngClass]="{'d-block': status == i, 'd-none': status != i}" id="{{i}}">
  <share-buttons
   [include]="['facebook','twitter','linkedin']"
   [show]="3"
   [url]="share_url"
   [id]="share-strip"
   [autoSetMeta]="false"
  ></share-buttons>
</div>
