.share {
  background-image: url('../../assets/img/share.png');
  background-size: contain;
  position: absolute;
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  bottom: 1.5rem;
  left: 1.5rem;
  &:hover {
    cursor: pointer;
    background-image: url('../../assets/img/share-hover.png');
  }
}
.share-strip {
  position: absolute;
  bottom: 1.5rem;
  left: 5rem;
  display: none;
}
