<div class="section-title">
  <h2>White Papers</h2>
</div>
<ol class="carousel-indicators">
  <li data-target="#carouselExampleIndicators" *ngFor='let post of posts; let l = first; let first = first' [class.active]="first" data-slide-to=""><span style="display: none;">{{ l === true ? cardLoaderCompleted() : null}}</span></li>
</ol>
<div class="carousel-inner">
  <div class="carousel-item" *ngFor='let post of posts; let first = first' [class.active]="first">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="case-article">
            <h4 class="case-header" [innerHTML]='post.title.rendered'></h4>
            <p class="case-description" [innerHTML]='post.excerpt.rendered | excerpt:140'></p>
            <div class="row">
              <div class="col-4">
                <div class="author">
                  <img class="image" src="{{post._embedded['author'][0].acf.author_image}}" />
                </div>
              </div>
              <div class="col-8">
                <div class="case-author">
                  <h6 [innerHTML]='post._embedded["author"][0].name'></h6>
                  <div class="sep"></div>
                  <p [innerHTML]="post._embedded['author'][0].description | excerpt:100"></p>
                </div>
              </div>
            </div>
            <div class="case-brand">
              <img src="{{post.acf.company_logo}}" class="img-fluid" />
            </div>
            <div class="cta">
              <a routerLink="/white-papers/{{post.slug}}" [queryParams]="{ page: post.id}"class="btn-green">Read More <i class="fas fa-chevron-right"></i></a>
              <a routerLink="/white-papers" class="btn-orange">View All</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>
<a href="#footer" SimpleSmoothScroll [showHash]="false" [offset]="-80">
  <div class="next-absolute">
    <i class="fas fa-chevron-down"></i>
  </div>
</a>
