// Colours

$primary-color: #93D50A;
$secondary-color: #ff7800;
$link-color: #82c200;
$sidebar-green: #92D400;
$dark-blue: #0a1428;

// Font Types

$font-roboto: 'Roboto';

// Font Weight

$font-light: 300;
$font-medium: 500;
$font-bold: 700;

// Font Style

$font-italic: italic; 

// Effects

$box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
