<div class="sidebar container-fluid">
  <h5>You may also like:</h5>
  <div class="row">
    <div class="sidebar-item col-md-6 col-lg-12" *ngFor='let post of posts'>
      <div class="news-article">
        <h4 class="news-header" [innerHTML]='post.title.rendered'></h4>
        <p class="news-description" [innerHTML]='post.excerpt.rendered | excerpt:100'></p>
        <a *ngIf="post.categories.includes(config.whitepaper_category) " routerLink="/white-papers/{{post.slug}}" [queryParams]="{ page: post.id}" class="news-permalink">Read More</a>
        <a *ngIf="post.categories.includes(config.case_category)" routerLink="/case-studies/{{post.slug}}" [queryParams]="{ page: post.id}" class="news-permalink">Read More</a>
        <a *ngIf="post.categories.includes(config.news_category)" routerLink="/news-room/{{post.slug}}" [queryParams]="{ page: post.id}" class="news-permalink">Read More</a>
        <div class="image-container">
          <img src="{{post._embedded['wp:featuredmedia']['0'].source_url}}" />
        </div>
      </div>
    </div>
  </div>
</div>
