@import "../variables.scss";

.sidebar {
  background: #ebebeb;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  h5 {
    text-align: center;
    padding-bottom: 1.5rem;
  }
}
.sidebar-item {
  .news-article {
    background-color: #091328;
    border-radius: 20px;
    position: relative;
    margin-bottom: 1rem;
    padding-top: 1rem;
    .news-header {
      color: white;
      font-weight: bold;
      font-size: 20px;
      padding-top: 1rem;
      padding-left: 1rem;
    }
    .news-description {
      color: white;
      font-size: 12px;
      padding-top: 0.5rem;
      padding-left: 1rem;
    }
    a {
      font-size: 12px;
      &:hover {
        text-decoration: none;
      }
    }
    .news-permalink {
      color: #82c200;
      margin-top: 1rem;
      padding-left: 1rem;
      position: relative;
      &:hover {
        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 1rem;
          background: #82c200;
          height: 1px;
          width: 80%;
        }
      }
    }
    .image-container {
      height: 150px;
      overflow-y: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      img {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
.sidebar-item:nth-child(odd) {
  .news-article {
    background-color: $sidebar-green;
    .news-permalink {
      color: white;
      &:hover {
        &:after {
          background: white;
        }
      }
    }
  }
}

.filter-bar {
  background: white;
  border-radius: 10px;
  box-shadow: $box-shadow;
  margin-bottom: 1rem;
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
  .filter-heading {
    background: $secondary-color;
    color: white;
    text-align: center;
    padding: 0.2rem;
      p {
      margin: 0;
      padding: 0;
      font-weight: 100;
    }
  }
  .filter-options {
    padding: 1rem;
    ul {
      padding: 0;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 0.3rem;
        font-size: 14px;
        &:hover {
          cursor: pointer;
          font-weight: bold;
          &:after {
            background: $secondary-color;
          }
        }
        &:before {
          content: '';
          width: 100%;
          position: absolute;
          background: #ebebeb;
          bottom: 0;
          height: 1px;
        }
        &:after {
          content: '+';
          position: absolute;
          right: 0;
          padding: 0 5.5px;
          background: $primary-color;
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 50%;
          color: white;
        }
      }
    }
  }
}
