@import "../variables.scss";

.pagination {
  display: block;
  margin: 0 auto;
  text-align:center;
  .pagination-numbers {
  }
  p {
    text-align: center;
    padding-top: 5px;
  }
  a {
   color: black;
   display:inline-block;
   padding: 8px 16px;
   text-decoration: none;
   transition: background-color .3s;
 }
}

.pagination a.active {
  background-color: $primary-color;
  border-radius: 0.5rem;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 0.5rem;
}

.pagination {
  .disabledpagination {
	   display : none ;
  }
}
