<div class="container" id="pagination" [ngClass]="{'disabledpagination': pages < 2}">
  <div class="pagination container">
    <div class="row">
      <div class="col-md-12">
        <p>Page {{current_page}} of {{pages}} Pages</p>
      </div>
      <div class="col-md-12 pagination-numbers">
        <a routerLink="/{{path}}" [queryParams]="{ page: current_page - 1, s: search}">&laquo;</a>
        <a *ngFor="let dummy of ' '.repeat(pages).split(''), let x = index"  routerLink="/{{path}}" [queryParams]="{ page: x + 1, s: search }" [ngClass]="{'active': current_page == x + 1, 'disabledpagination' : (x - current_page) > 3 || (current_page - x) > 3 }" > {{x + 1}} </a>
        <a [ngClass]="{'disabledpagination': pages == current_page}"  routerLink="/{{path}}" [queryParams]="{ page: current_page + 1, s: search }" >&raquo;</a>
      </div>
    </div>
  </div>
</div>
