.thanks-banner {
  color: white;
  width: 100%;
  background: linear-gradient(to bottom right, #bfee00, #00aa00);
  padding: 1rem;
  text-align: center;
  h1 {
    font-weight: bold;
    em {
      font-weight: 200;
      display: block;
      font-style: normal;
    }
  }
  p {
    font-weight: 200;
  }
}

.cta-buttons {
  padding-bottom: 4rem;
  .share {
    margin: 0 auto;
    position: relative;
  }
}
