<main class="main" role="main">
    <section class="viewport-height" id="thank-you" style="background-image: url('assets/img/thanks.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <div class="hundred v-center">
        <div class="thanks-banner">
          <h1>Thank you <em>for downloading our whitepaper.</em></h1>
          <p>Please continue to stay in touch and folllow us on social media.</p>
        </div>
        <div class="container cta-buttons">
          <div class="share-container" style="margin: 0 auto; max-width: 6rem;">
            <app-share [i]="0"></app-share>
          </div>
          <div class="text-center" style="margin-top: 3rem;">
            <a routerLink="/" class="green-button">Content Hub</a>
            <a routerLink="/white-papers/{{slug}}" [queryParams]="{ page: current_page}" class="transparent-button">Go Back</a>
          </div>
        </div>
      </div>
    </section>
  </main>
