<div class="col-md-9">
        <div class="grid">
          <div *ngFor='let post of posts' class="content-card products" [attr.ready]="last ? false : true">
            <img src="{{post._embedded['wp:featuredmedia']['0'].source_url}}" />
            <div class="excerpt">
              <h2 [innerHTML]='post.categories'></h2>
              <h3 [innerHTML]='post.title.rendered'></h3>
              <p [innerHTML]='post.excerpt.rendered'></p>
              <a routerLink="/article" [queryParams]="{ page: post.id}">Read More</a>
              <div class="share"></div>
            </div>
          </div>
        </div>
      </div>
