<app-preloader></app-preloader>

<main class="main" role="main">
    <section id="case-studies" style="background-image: url('assets/img/case-studies-bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat;" class="viewport-height">
      <div class="container v-center">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6">
            <h1 class="intro-title">Case <em>Studies</em></h1>
          </div>
          <div class="col-md-6 display-none">
          </div>
        </div>
      </div>
      <a href="#filter" class="next-absolute" SimpleSmoothScroll [showHash]="false" [offset]="-80">
        <i class="fas fa-chevron-down"></i>
      </a>
    </section>

    <div class="bg-grey" id="filter">
      <div class="section-title">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <aside class="filter-bar" role="complementary">
              <div clas="sidebar-img">
                <img src="assets/img/sidebar-casestudies.jpg" />
              </div>
              <div class="filter-heading">
                <p>Filter Your Case Studies</p>
              </div>
              <div class="filter-options">
                <ul class="button-group filter-button-group">
                  <li (click)="changeCategory(parent_id)" >All</li>
                  <li *ngFor='let category of categories' (click)="changeCategory(category.id)" >{{category.name}}</li>
                </ul>
              </div>
            </aside>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div *ngFor='let post of posts; let i = index; let l = last' class="col-md-6">
                <div class="content-card products">
                  <span style="display: none;">{{ i }} {{ l === true ? cardLoaderCompleted() : null}}</span>
                  <div class="image-container">
                    <img src="{{post._embedded['wp:featuredmedia']['0'].source_url}}" />
                  </div>

                  <div class="excerpt">
                    <h2 class="category_finder" [innerHTML]='post.categories'></h2>
                    <h3 [innerHTML]='post.title.rendered'></h3>
                    <p [innerHTML]='post.excerpt.rendered | excerpt:140'></p>
                    <div class="row author-holder row-flex-center">
                      <div class="col-sm-6">
                        <a routerLink="/case-studies/{{post.slug}}" [queryParams]="{ page: post.id}">Read More</a>
                      </div>
                      <div class="col-sm-6 text-right">
                        <div class="author">
                          <img class="image" src="{{post._embedded['author'][0].acf.author_image}}" />
                        </div>
                      </div> 
                    </div>
                    <div class="case-brand">
                      <img src="{{post.acf.company_logo}}" class="img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <app-pagination [pages]="pages" [current_page]="current_page" [path]="path" style="width:100%;"></app-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
