<app-preloader></app-preloader>
<main class="main" role="main">
    <section id="case-studies" class="viewport-height">
      <div class="container v-center">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6">
            <h1 class="intro-title">Search <em>Results</em></h1>
          </div>
          <div class="col-md-6 display-none">
          </div>
        </div>
      </div>
      <a href="#filter" class="next-absolute">
        <i class="fas fa-chevron-down"></i>
      </a>
    </section>

    <div class="bg-grey" id="filter">
      <div class="section-title">
        <h2 class="text-center section-title ">
            You Searched For "<strong>{{search_text}}</strong>"
          </h2>
      </div>
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <div id="post_div">
              <!-- <div *ngFor='let post of posts | filter : search | slice:0:10; let i = index' class="content-card products" [attr.ready]="last ? false : true" > -->
              <div *ngFor='let post of posts; let i = index' class="search-result" >
                <a *ngIf="post.categories.includes(config.whitepaper_category) " routerLink="/white-papers/{{post.slug}}" [queryParams]="{ page: post.id}"><i class="fas fa-chevron-right"></i><h3 [innerHTML]='post.title.rendered'></h3></a>
                <a *ngIf="post.categories.includes(config.case_category) " routerLink="/case-studies/{{post.slug}}" [queryParams]="{ page: post.id}"><i class="fas fa-chevron-right"></i><h3 [innerHTML]='post.title.rendered'></h3></a>
                <a *ngIf="post.categories.includes(config.news_category)" routerLink="/news-room/{{post.slug}}" [queryParams]="{ page: post.id}"><i class="fas fa-chevron-right"></i><h3 [innerHTML]='post.title.rendered'></h3></a>
                <p [innerHTML]='post.excerpt.rendered'></p>
              </div>
            </div>
          </div>
        </div>
        <app-pagination [pages]="pages" [current_page]="current_page" [search]="search" [path]="path"></app-pagination>

        <!-- <div class="container">
        <div class="pagination">
          <p>Page {{counter}} of Pages</p>
          <a href="/{{path}}?page={{current_page - 1}}">&laquo;</a>
          <a *ngFor="let dummy of ' '.repeat(pages).split(''), let x = index" href="/{{path}}?page={{x + 1}}&s={{search}}" [ngClass]="{'active': current_page == x + 1, 'disabledpagination' : (x - current_page) > 3 || (current_page - x) > 3 }" > {{x + 1}} </a>

          <a href="/{{path}}?page={{current_page + 1}}" >&raquo;</a>
        </div>
      </div> -->


      </div>
    </div>
  </main>
