@import "../variables.scss";

.search-result {
  margin-bottom: 2rem;
  a {
    &:hover {
      color: $primary-color;
    }
  }
  h3 {
    color: black;
    font-size: 18px;
    position: relative;
    padding-top: 2px;
    &:hover {
      color: $primary-color;
    }
  }
  i {
    float: left;
    border: 1px solid $primary-color;
    border-radius: 50%;
    margin-right: 0.5rem;
    height: 25px;
    width: 25px;
    padding: 3px 7px;
    margin-left: 5px;
    color: $primary-color;
  }
  p {
    margin-left: 2.2rem;
  }
}
