.section-title {
  text-align: center;
  padding: 1rem;
  img {
    max-width: 4rem;
    display: inline-block;
  }
  h2 {
    display: inline-block;
    padding: 0.5rem;
    font-family: $font-roboto;
    font-weight: $font-light;
  }
  em {
    font-style: italic;
  }
}

.news-article {
  background-color: #091328;
  border-radius: 10px;
  min-height: 26rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 1;
  .news-header {
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .news-description {
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    margin: 0;
    min-height: 5rem;
  }
  a {
    font-size: 14px;
    &:hover {
      text-decoration: none;
    }
  }
  .news-permalink {
    color: $link-color;
    font-size: 16px;
    padding-left: 2rem;
    padding-top: 1rem;
    position: relative;
    text-decoration:underline;
    &:hover {
      &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 2rem;
        background: $link-color;
        height: 1px;
        width: 70%;
      }
    }
  }
  .news-image-container {
    background-size:cover;
    background-position:center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top:20px;
    .news-image {
      position: absolute;
      max-height: 50%;
      height:50%;
      bottom: 0;
      left: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 100%;
      border: 1px solid #091328;
    }
  }
  .news-content {
    padding-bottom:20px;
  }
}

.case-article {
  background-color: white;
  z-index: 10;
  border-radius: 10px;
  min-height: 30rem;
  position: relative;
  font-weight: $font-light;
  padding: 2rem 3rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 6px 6px 6px rgba(0,0,0,0.23);
  max-width: 26rem;
  margin: 0 auto;
  .case-header {
    color: black;
    font-weight: $font-medium;
    font-size: 26px;
  }
  .case-description {
    color: black;
    font-size: 16px;
    padding-top: 0.5rem;
  }
  a {
    font-size: 14px;
    &:hover {
      text-decoration: none;
    }
  }
  .author {
    .image {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 15px;
      object-fit: cover;
      object-position: center center;
      border: 2px solid grey;
    }
  }
  .case-brand {
    display: block;
  	width: 100%;
    margin: 1rem 0;
    position: relative;
    &:before {
      content: '';
      width: 110%;
      margin-left:-5%;
      height: 2px;
      background: $primary-color;
      position: absolute;
      left: 0;
      top: -1rem;
    }
  }
  .case-author {
    color: $primary-color;
    margin: 10px;
    .sep {
      position: relative;
      background: grey;
      height: 2px;
      width: 85%;
      margin-top: -6px;
    }
    h6 {
      font-size: 14px;
    }
    p {
      font-size: 10px;
      max-width: 10rem;
      padding-top: 0.5rem;
    }
  }
  img {
    width: 100%;
    margin-top: 2rem;
  }
  .cta {
    position: absolute;
    bottom: 2rem;
    width:100%;
    left:0;
    text-align:center;
    a {
      width: 8rem;
      &:hover {
        i {
          border: 1px solid white;
        }
      }
    }
    i {
      border: 1px solid $primary-color;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      padding: 2px 5px;
      margin-left: 5px;
    }
  }
}

.slider-image-background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.intro-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 120px;
  line-height: 110px;
  margin:0;
  em {
    display: block;
    font-weight: 100;
    font-style: normal;
  }
  span {
    font-weight: 100;
  }
}

.hundred {
  width: 100%;
}

.green-button {
  border-radius: 10px;
  background: $primary-color;
  text-align: center;
  color: white;
  padding: 0.7rem 1rem;
  border: 1px solid transparent;
  margin-right: 2rem;
  &:hover {
    background: white;
    color: $primary-color;
    border: 1px solid white;
    text-decoration: none;
  }
}

.transparent-button {
  border-radius: 10px;
  background: transparent;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 0.7rem 1.9rem;
  &:hover {
    background: white;
    color: $primary-color;
    border: 1px solid white;
    text-decoration: none;
  }
}

#news {
  background: rgba(235,235,235,1.00);
  padding-bottom: 2rem;
}

.carousel-indicators {
  bottom:80px;
  li {
    height:16px;
    width:16px;
    margin:0 8px;
    border-radius:50%;
    background: #e1e1e1;
    &.active {
      background: #b7b7b7;
    }
  }
}
