@media only screen and (min-width:320px) {
  
}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (min-width:1366px) {
  #case-studies {
    background-size:cover;
  }
}
@media only screen and (min-width:1600px) {
  #case-studies {
    .intro-title {
      left:0;
      transform:translateY(-50%);
    }
  }
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
@media only screen and (max-width:992px) {
  .content-card {
    width:100%;
  }
}
@media only screen and (max-width:768px) {
  .intro-title {
  	font-size: 60px;
    line-height:70px;
    margin-bottom:3rem;
  }
  .viewport-height {
  	height: auto;
    padding-bottom: 2rem;
  }
  .main {
    padding-top: 5rem;
  }
  #intro {
      .overlay {
      bottom: 0.4rem;
    }
  }

  .news-article {
    margin-bottom: 2rem;
  }

  .sidebar {
    .news-article {
      min-height: 12rem;
      img {
        display: none;
      }
    }
  }
  .section-title {
    margin-top: 0;
  }
  .content {
    padding-bottom: 1rem !important;
    h1 {
      font-size: 26px !important;
      margin-bottom: 1rem;
      padding-bottom: 0rem !important;
    }
  }

  .fa-search {
    display: none;
  }

  .sidebar {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .featured-image {
    clear: both;
    margin-top: 2rem;
  }
  .content-card {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 1rem;
  }

  .v-center {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }

  .single-intro {
    padding-top: 3rem;
  }

  .intro-title {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    // text-align: center;
    margin-top: 5rem;
  }
  .footer {
    .social {
      text-align: left;
      li {
        margin-left: 0;
        margin-right: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  .display-none {
    display: none;
  }
  .filter-bar {
    margin-top: 1rem;
  }
  .case-article {
    margin-bottom: 1rem;
    .case-brand {
      margin-top: 1rem;
      padding: 4rem;
    }
  }
  .thanks-banner {
    color: white;
    width: 100%;
    background-color: rgba(147,213,10,0.5);
    padding: 0.5rem;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 28px;
      em {
        font-weight: 200;
        display: block;
      }
    }
    p {
      font-weight: 200;
    }
  }
  .single-meta {
    padding: 0;
    h1 {
      font-weight: 100;
      max-width: 100%;
      font-size: 30px;
      line-height: 30px;
    }
  }
  .content {
    padding: 0;
    strong {
    	font-size: 2rem;
    	line-height: 2.5rem;
    	font-weight: 500;
    	margin: 0.5rem;
    }
  }
  .single-intro {
    padding-top: 1rem;
  }
}

@media(max-width:420px) {
  .case-article {
    padding:1.5rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  #intro .content {
    h1 {
      font-size: 38px;
      padding-bottom: 0rem !important;
    }
  }
  .header {
    .search-container {
      width: 26rem !important;
    }
  }
}

@media(max-width:1366px) {
  .carousel-inner {
    padding:0 6rem 10rem;
  }
}
@media only screen and (max-width: 992px) {
  .next {
    display: none;
  }
  .carousel-inner {
    padding: 0;
    padding-bottom: 4rem;
  }
  .carousel-indicators {
    bottom: 10px;
  }
  .next-absolute {
    display: none;
  }
  #intro .content {
    h1 {
      font-size: 38px;
      padding-bottom: 0.5rem;
    }
  }
  .author-meta {
    width: 100%;
    border-radius: 20px;
    border: 2px solid $primary-color;
    .avatar {
      width: 100%;
      float: left;
      img {
        border: none !important;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
        width: 100%;
        height: auto;
        max-height: none;
      }
    }
    .summary {
      width: 100%;
      padding: 1rem;
      border: 0;
      border-left: 0;
      h6 {
        color: $primary-color;
      }
      p {
        font-size: 13px;
        line-height: 13px;
      }
    }
  }
  .sidebar {
    margin-top: 2rem;
  }
  .news-article {
    min-height: 22rem;
    .news-header {
      font-size: 18px;
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .news-description {
      font-size: 16px;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0;
    }
    .news-permalink {
      padding-left: 1rem;
      &:hover {
        &:after {
          content: "";
          left: 1rem;
          height: 1px;
          width: 85%;
        }
      }
    }
  }
}
@media(max-width:992px) and (min-width:767px) { 

  .case-article {
    min-height:33rem;
  }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #intro .content {
    h1 {
      font-size: 34px !important;
      padding-bottom: 1rem !important;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #intro .content {
    padding-bottom: 4rem;
    h1 {
      padding-bottom: 1.5rem;
    }
  }
  .author-meta {
    .avatar {
      width: 29%;
    }
    .summary {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      h6 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}
@media(max-width:767px) {
  .paper-intro {
    h1 {
      position:static !important;
      top:0 !important;
      margin:0;
    }
  }
}
