.btn-green {
  color: $primary-color;
  margin-top: 1rem;
  position: relative;
  border: 1px solid $primary-color;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
  margin-right: 0.9rem;
  &:hover {
    background: $primary-color;
    color: white;
  }
}

.btn-orange {
  background: $secondary-color;
  color: white;
  margin-top: 1rem;
  position: relative;
  border: 1px solid $secondary-color;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  &:hover {
    background: white;
    color: $secondary-color;
  }
}

.next {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
  background: $secondary-color;
  z-index: 100;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  i {
    font-size: 1rem;
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
  }
  &:hover {
    background: $secondary-color;
    i {
      color: white;
     }
  }
}

.next-absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  background: $secondary-color;
  z-index: 100;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  i {
    font-size: 1rem;
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
  }
  &:hover {
    background: $secondary-color;
    i {
      color: white;
     }
  }
}
