section {
  position: relative;
}

.carousel-inner {
  padding: 0rem 6rem 10rem;
}

.article-content {
  padding-bottom: 2rem;
}

.viewport-height {
  height: 100vh;
}

.bg-grey {
  background: #f4f4f0;
  padding-bottom: 4rem;
}
.row-flex-center {
    align-items:center;
}

.blog {
  position: relative;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
  .logo {
    top: 1rem;
    left: 3rem;
    position: relative;
    max-width: 10rem;
  }
  .navbar {
    background: $primary-color;
    border-radius: 4px;
    padding: 0.5rem;
    position: absolute;
    right: 4rem;
    top: 4rem;
    i {
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
      i {
        color: $primary-color;
        background: white;
      }
    }
  }
}

.content {
  padding: 1rem;
  img {
    max-width: 100%;
  }
  strong {
    color: $primary-color;
    font-size: 4rem;
    display: block;
    line-height: 4.5rem;
    font-weight: 500;
    margin: 1rem;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  a {
    color: $primary-color;
    &:hover {
      text-decoration: underline;
    }
  }
  .sb-group {
    flex-wrap: nowrap !important;
  }
}

.author-meta {
  width: 100%;
  border-radius: 10px;
  min-height: 5rem;
  margin-bottom: 2rem;
  .avatar {
    width: 30%;
    float: left;
    display: inline-block;
    img {
      border: 2px solid $primary-color;
      border-right: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow-x: hidden;
      max-height: 8rem;
    }
  }
  .summary {
    display: inline-block;
    min-height: 8rem;
    width: 70%;
    padding: 0;
    border: 2px solid $primary-color;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
    padding-left: 3rem;
    padding-top: 1rem;
    h6 {
      color: $primary-color;
    }
    p {
      font-size: 13px;
      line-height: 13px;
    }
  }
}

.content-card {
  background: white;
  border-radius: 10px;
  box-shadow: $box-shadow;
  margin-bottom: 30px;
  position: relative;
  &:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: $box-shadow-hover;
  }
  .image-container {
    height: 150px;
    overflow-y: hidden;
    img {
      width: 100%;
      height: auto;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  .category {
    color: $primary-color;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    &:after {
      width: 100%;
      height: 2px;
      background: $primary-color;
      position: absolute;
      bottom: 0;
    }
  }
  .excerpt {
    padding: 1rem 2rem;
    h2 {
      color: $primary-color;
      padding: 0.5rem 0.5rem;
      font-size: 18px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      &:after {
        content: '';
        height: 2px;
        width: 100%;
        background: $primary-color;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    h3 {
      text-transform: uppercase;
      color: black;
      font-size: 18px;
      padding-top: 1rem;
      text-transform: uppercase;
      min-height: 3rem;
    }
    p {
      color: black;
      min-height: 6rem;
      font-weight: 300;
      margin-bottom:0.5rem;
    }
    a {
      color: $primary-color;
      text-decoration: underline;
      font-size:18px;
    }
  }
  .sb-group {
    flex-wrap: nowrap !important;
    max-width: 10.1rem;
  }
  .author-holder {
    margin-bottom:30px;
    .author {
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin:0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
        border: 2px solid grey;
      }
    }  
  }
  .case-brand {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding-top:15px;
    position: relative;
    text-align:center;
    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background: $primary-color;
      position: absolute;
      left: 0;
      top: -1rem;
    }
  }
}

div.sb-button.sb-default {
  display: none !important;
}

.single-meta {
  padding: 1rem;
  h1 {
    font-weight: 100;
    max-width: 32rem;
    font-size: 60px;
    line-height: 60px;
  }
  .author {
    font-weight: 300;
    .image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin: 10px;
      object-fit: cover;
      object-position: center center;
      border: 2px solid grey;
    }
    p {
      padding-right: 1rem;
      margin-bottom: -0.5rem;
      max-width: 20rem;
    }
  }
  .date {
    padding-top: 1rem;
    font-weight: 300;
  }
}

.share-container {
  position: relative;
  height: 5rem;
}
