::selection{
  background: rgba(130, 194, 0, 0.5);
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: rgba(130, 194, 0, 0.5);
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: rgba(130, 194, 0, 0.5);
  color: #fff;
  text-shadow: none;
}
