.nav {
  ul {
    list-style: none;
    li {
      a {

      }
    }
  }
}

.slides-pagination {
  bottom: 4rem;
  a {
    background: #e1e1e1;
    border: 0;
    margin: .5rem;
    height: 15px;
    width: 15px;
  }
  a.current {
    background: #b7b7b7;
  }
}
