<app-preloader></app-preloader>

<main class="main" role="main">
    <section id="intro">
      <video id="intro-video" autoplay muted loop>
	      <source src="assets/img/video.mp4" type="video/mp4">
      </video>
      <div class="overlay">
        <img src="assets/img/overlay.svg" class="green" />
      </div>
      <div class="content">
        <h1><span>Resources</span> Content Hub</h1>
        <a href="#studies" SimpleSmoothScroll [showHash]="false" [offset]="-80">
          <div class="next">
            <i class="fas fa-chevron-down"></i>
          </div>
        </a>
      </div>
    </section>

    <div id="studies" class="carousel slide" data-ride="carousel" style="background-image: url('assets/img/case-studies-bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <app-case-slider></app-case-slider>
    </div>

    <section id="news">
      <app-news-slider></app-news-slider>
    </section>

    <div id="papers" class="carousel slide" data-ride="carousel" style="background-image: url('assets/img/white-papers-bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <app-paper-slider></app-paper-slider>
    </div>
  </main>

  <script>
    jQuery(function() {
      setTimeout(function(){ jQuery("#intro-video").get(0).play(); }, 750);
    });
  </script>
