@import "../variables.scss";

#intro {
  overflow: hidden;
  #intro-video {
  	width: 100%;
  	height: 100%;
  	background-size: 100% 100%;
  	background-color: black;
  	background-image: url('../../assets/img/video.mp4');
  	background-position: center center;
  	background-size: contain;
  	object-fit: cover;
  	z-index: 3;
    max-height: 100vh;
  }

  .overlay {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    img {
        width: 100%;
    }
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: white;
    z-index: 100;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0) translateX(-50%);
    padding-bottom: 2rem;
    h1 {
      font-weight: 200;
      margin: 0;
      padding-bottom: 1.5rem;
      font-size: 50px;
      white-space: nowrap;
    }
    span {
      font-weight: 500;
    }
  }

  #myBtn:hover {
      background: #ddd;
      color: black;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  strong {
    font-size: 50px;
  }
}
