.paper-intro {
  background-image: url('../../assets/img/paper-bg.jpg');
  background-position: center center;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    span {
      display: block;
      font-weight: 100;
    }
  }
}

.paper-content {
  .author {
    .image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin: 10px;
      object-fit: cover;
      object-position: center center;
      border: 2px solid grey;
    }
  }
  .date {
    margin: 20px;
    font-size: 14px;
    font-weight: 300;
  }
  .share {
    background-image: url('../../assets/img/share.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    left: auto;
    top: auto;
    &:hover {
      cursor: pointer;
      background-image: url('../../assets/img/share-hover.png');
    }
  }
  .share-strip {
    position: absolute;
    bottom: 1.3rem;
    left: 4.8rem;
    display: none;
    transition: 2s;
  }
  .sb-group {
    flex-wrap: nowrap !important;
  }
}
