<app-preloader></app-preloader>

<main class="main" role="main">
  <section class="paper-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h1 [innerHTML]='posts.title.rendered'></h1>
        </div>
        <div class="col-md-6">
          <div class="featured-image">
            <!-- <img class="img-fluid" src="assets/img/white-paper-header.png" /> -->
            <img class="img-fluid" src="{{posts._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container paper-content">
    <div class="row">
      <div class="col-lg-8">
        <div class="content">
            <h3 [innerHTML]='posts.title.rendered'></h3>
            <div class="row">
              <div class="share-container">
                <app-share [i]="0"></app-share>
              </div>
            </div>
            <p [innerHTML]='posts.content.rendered'></p>
        </div>
        <app-download [download_link]="posts.acf.white_paper_download" [slug]="posts.slug"></app-download>
      </div>
      <div class="col-lg-4">
        <app-sidebar></app-sidebar>
      </div>
    </div>

  </div>
</main>
